@import "tailwindcss";

@theme {
  /* Your theme variables */
  --color-primary-1: #825CE5;
  --color-primary-2: #5F81FF;
   --color-primary-light-1: #b49def;
   --color-primary-light-2: #9fb3ff;
  --color-border: #8b4d26;
  --color-text: #323232;
  --color-text-white: #ffffff;
  --color-background: #f9f9f8;
  --color-features-bg: #d6d6d6;

    --font-sans: Switzer, system-ui, sans-serif;
    
    --radius-4xl: 2rem;
}

@keyframes move-x {
  0% {
    transform: translateX(var(--move-x-from));
  }

  100% {
    transform: translateX(var(--move-x-to));
  }
}


.perspective-1000 {
  perspective: 1000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
